.btn-icon{
    border: none; /* Remove borders */
    color: rgb(145, 126, 126); /* White text */
    padding: 0;
    font-size: 1.5rem; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
  }
  .btn-icon + .btn-icon{
    padding-left: 5px;
  }
  /* Darker background on mouse-over */
  .btn-icon:hover {
    color: rgb(88, 70, 70); /* White text */
  }

  #table-tr-thead th{
    text-transform: capitalize;
  }

  #table-tr-thead th:first-child{
    width: 190px;
  }
  #table-tr-thead th:last-child{
    width: 75px;
    border: 0;
  }

  #table-tr-body td{
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ".."; 
    white-space: nowrap; 
  }
  #table-tr-body td:first-child div{
    width: 150px;
  }

 

  .textar-input{
    resize:none;
  }